### Node template
.DS_Store

# Logs
logs
*.log
npm-debug.log*
.lock-wscript

# Typings
typings/

# Typescript
src/**/*.js
src/**/*.js.map
test/**/*.js
test/**/*.js.map

# Test
/.tmp
/.nyc_output

# IDE
.vscode
.idea

# Project
/dist
package-lock.json
yarn.lock
.yarnclean
node_modules
.npmrc
